body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron h1 {
  color: #D7423D;
}

.company-logo {
    max-height: 100px;
}

.members{display:inline;float:left;width:100%;margin-left:0%;margin-right:0%;*zoom:1;margin-bottom:1em;text-align:center}
.members:before,
.members:after{display:table;content:"";line-height:0}
.members:after{clear:both}
.members h2,
.members h3,
.members h4{margin-bottom:0.3em}
.members .fa{margin-right:5px}@media only screen and (min-width: 37.5em){
    .members div{display:inline;float:left;width:25%}}
/*.members div:last-child{text-align:right}*/
/*.members div:first-child{text-align:left}*/
.members ul{margin:0;padding:0;clear:both;list-style-type:none}

.corporate_members{display:inline;float:left;width:100%;margin-left:0%;margin-right:0%;*zoom:1;margin-bottom:1em;text-align:center}
.corporate_members:before,
.corporate_members:after{display:table;content:"";line-height:0}
.corporate_members:after{clear:both}
.corporate_members h2,
.corporate_members h3,
.corporate_members h4{margin-bottom:0.3em}
.corporate_members .fa{margin-right:5px}@media only screen and (min-width: 37.5em){
    .corporate_members div{display:inline;float:left;width:33%}}
/*.members div:last-child{text-align:right}*/
/*.members div:first-child{text-align:left}*/
.corporate_members ul{margin:50;padding:50;clear:both;list-style-type:none}

.members_benefits{display:inline;float:left;width:100%;margin-left:3%;margin-right:0%;*zoom:1;margin-bottom:1em;text-align:left}
.members_benefits:before,
.members_benefits:after{display:table;content:"";line-height:0}
.members_benefits:after{clear:both}
.members_benefits h2,
.members_benefits h3,
.members_benefits h4{margin-bottom:0.3em}
.members_benefits .fa{margin-right:5px}@media only screen and (min-width: 37.5em){
    .members_benefits div{display:inline;float:left;width:33%}}
/*.members div:last-child{text-align:right}*/
/*.members div:first-child{text-align:left}*/
.members_benefits ul{margin:0;padding:0;clear:both;}

.wrap {
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}
corporate
